* {
	box-sizing: border-box;
	margin:0;
	font-family: sans-serif;
 	
	}

a {
	text-decoration: none;
}	

body {
	
	
}



header{ 
	width:90%;
	margin: 0 auto;
	}

header img{ 
	width:30em;
}


.logo {
	border-style: double;
	padding:1em;
}

footer {
	margin: 0 auto;
	width:95%;
	
}



/* ----------nav------------- */










/* ----------section------------- */



.container {
	
}

.item{
float: left;
}

.item img {
	width:25%;
	float: left;
}





	




@media screen and (max-width: 700px){

}

@media screen and (max-width: 450px){
	
}

@media screen and (max-width: 360px){
	
}

