* {
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
 	
	}

	

body {
	
	
}



header{ 
	width:90%;
	margin: 0 auto;
	}

header img{ 
	width:30em;
}


.logo {
	border-style: double;
	padding:1em;
}

h3 {
	color:green;
}

footer {
	text-align: center;
	margin: 0 auto;
	width:95%;
	
}





/* ----------nav------------- */










/* ----------section------------- */



.banner-title {
	color:blue;
	transform: rotate(45deg);
	
	margin-top: 50%;

}

.container {
	display: flex;
	flex-wrap: wrap;
}


.item{

width:40%;
}





.item img{
	width:100%;
	-webkit-animation-name: slide; /* Safari 4.0 - 8.0 */
  	-webkit-animation-duration: 40s; /* Safari 4.0 - 8.0 */
  	animation-name: slide;
  	animation-duration: 40s;
  	height: 100vw;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes slide {
  from {height: 0vw;}
  to {height: 100%;}
}

/* Standard syntax */
@keyframes slide {
  from {height: 0vw;}
  to {height: 100%;}
}



@media screen and (max-width: 700px){
	header img{ 
	width:20em;
}

}

@media screen and (max-width: 450px){
	
}

@media screen and (max-width: 360px){
	
}

